<div class="messages-box flex flex-1">
  <div class="list-group rounded-0">
    <% @rooms.each do |room| %>
      <%= link_to room_path(room), class: 'link-chat-block' do %>
        <div class='chat-list-item custom-chat-item d-flex align-items-start rounded <%= "#{current_chat(params[:id], room.id)}" "#{first_chat(params[:id], room)}" %>'>
          <div class="align-self-center mr-3">
            <div class="rounded-circle <%= check_online(opposite_user(room, current_user.id)) unless room.general? %>" style="width: 8px; height: 8px;" data-user-id=<%= opposite_user(room, current_user.id).id unless room.general? %>></div>
          </div>
          <div class="align-self-center mr-3">
            <div class="overflow-hidden rounded-circle">
              <% if room.general? %>
                <svg width="32" height="32" viewbox="0 0 1651 1651" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="1651" height="1651" rx="14" fill="white"></rect>
                  <path
                    d="M495.286 1098.96L497.967 1070.86L478.04 1050.88C408.572 981.233 368 891.771 368 795.344C368 585.371 565.306 402 826 402C1086.69 402 1284 585.371 1284 795.344C1284 1005.32 1086.69 1188.69 826 1188.69V1248.69L825.913 1188.69C779.837 1188.75 733.952 1182.77 689.432 1170.9L667.26 1164.98L646.8 1175.37C620.731 1188.61 562.74 1213.98 467.32 1235.35C480.554 1191.83 490.95 1144.39 495.286 1098.96Z"
                    stroke="url(#paint0_linear)"
                    stroke-width="120"></path>
                  <defs>
                    <lineargradient id="paint0_linear" x1="662.312" y1="397.956" x2="416.164" y2="1678.7" gradientunits="userSpaceOnUse">
                      <stop stop-color="#7514FB"></stop>
                      <stop offset="0.624243" stop-color="#F26D41"></stop>
                      <stop offset="1" stop-color="#F43B4B"></stop>
                    </lineargradient>
                  </defs>
                </svg>
              <% else %>
                <%= image_tag opposite_user(room, current_user.id).avatar, class: 'rounded-circle avatar-xs', style: 'width: 32px; height: 32px; object-fit: cover;' %>
              <% end %>
            </div>
          </div>
          <div class="media-body overflow-hidden">
            <h5 class="text-truncate font-size-14 mb-1">
              <%= room.general? ? room.name : opposite_user(room, current_user.id).username %>
            </h5>
            <p class="text-truncate mb-0 chat-list-last-message-<%= room.id %>">
              <%= last_message(room).message %>
            </p>
          </div>
          <div class="font-size-11"><%= last_message(room).created_at.strftime('%H:%M %p') %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
