<div class="chat-main-block">
  <div class="container py-5 px-4">
    <div class="custom-chat-body chat-body row overflow-hidden shadow bg-light rounded">
      <div class="col-4 px-0">
        <div class="chat-list-container flex-column d-flex pr-4">
          <div class="py-2">
            <p class="h5 mb-0 py-1 chats-title">Chats</p>
          </div>
          <div class="messages-box flex flex-1">
            <div class="list-group rounded-0">
              <% @rooms.each do |room| %>
                <%= link_to room_path(room), class: 'link-chat-block' do %>
                  <div class="chat-list-item custom-chat-item d-flex align-items-start rounded <%= room == Room.first ? 'bg-white' : '' %>">
                    <div class="align-self-center mr-3">
                      <div class="rounded-circle bg-gray" style="width: 8px; height: 8px; opacity: 0;"></div>
                    </div>
                    <div class="align-self-center mr-3">
                      <div class="overflow-hidden rounded-circle">
                        <svg width="32" height="32" viewbox="0 0 1651 1651" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="1651" height="1651" rx="14" fill="white"></rect>
                          <path
                            d="M495.286 1098.96L497.967 1070.86L478.04 1050.88C408.572 981.233 368 891.771 368 795.344C368 585.371 565.306 402 826 402C1086.69 402 1284 585.371 1284 795.344C1284 1005.32 1086.69 1188.69 826 1188.69V1248.69L825.913 1188.69C779.837 1188.75 733.952 1182.77 689.432 1170.9L667.26 1164.98L646.8 1175.37C620.731 1188.61 562.74 1213.98 467.32 1235.35C480.554 1191.83 490.95 1144.39 495.286 1098.96Z"
                            stroke="url(#paint0_linear)"
                            stroke-width="120"></path>
                          <defs>
                            <lineargradient id="paint0_linear" x1="662.312" y1="397.956" x2="416.164" y2="1678.7" gradientunits="userSpaceOnUse">
                              <stop stop-color="#7514FB"></stop>
                              <stop offset="0.624243" stop-color="#F26D41"></stop>
                              <stop offset="1" stop-color="#F43B4B"></stop>
                            </lineargradient>
                          </defs>
                        </svg>
                      </div>
                    </div>
                    <div class="media-body overflow-hidden">
                      <h5 class="text-truncate font-size-14 mb-1"><%= room.name %></h5>
                      <p class="text-truncate mb-0">
                        <%= last_message(room).message %>
                      </p>
                    </div>
                    <div class="font-size-11"><%= last_message(room).created_at.strftime('%H:%M %p') %></div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row no-gutters align-items-center pl-4 pr-2 pb-3" style="height: inherit; flex: 0 1 0%; min-height: 50px;">
            <div class="col-8 d-flex align-items-center ">
              <div class="align-self-center mr-3">
                <!-- <img src="/avatars/2.jpg" alt="Pablo" class="rounded-circle avatar-xs" style="width: 32px; height: 32px; object-fit: cover;"> -->
                <%= image_tag 'avatars/0.jpg', class: 'rounded-circle avatar-xs', style: 'width: 32px; height: 32px; object-fit: cover;' %>
              </div>
              <div class="media-body">
                <h5 class="font-size-14 mt-0 mb-1">Pablo</h5>
                <div class="d-flex align-items-center">
                  <div class="rounded-circle bg-success" style="width: 8px; height: 8px; opacity: 1;"></div>
                  <p class="ml-2 text-muted mb-0">Active</p>
                </div>
              </div>
            </div>
            <div class="col-4 text-danger text-right" style="cursor: pointer;">
              <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" width="1em" height="1em" fill="currentColor">
                <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"></path>
                <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"></path>
              </svg>
              Log out</div>
          </div>
        </div>
      </div>
      <div class="col-8 px-0 flex-column bg-white rounded-lg">
        <div class="px-4 py-4" style="border-bottom: 1px solid rgb(238, 238, 238);">
          <h2 class="font-size-15 mb-0">General</h2>
        </div>
        <div class="chat-box-wrapper position-relative d-flex">
          <div class="px-4 pt-5 chat-box position-absolute">
            <div class="d-flex flex-row align-items-center mb-4">
              <div style="height: 1px; background-color: rgb(238, 238, 238); flex: 1 1 0%;"></div>
              <div class="mx-3">
                <button aria-haspopup="true" aria-expanded="true" type="button" class="btn rounded-button btn-secondary nav-btn" id="__BVID__168__BV_toggle_">Load more</button>
              </div>
              <div style="height: 1px; background-color: rgb(238, 238, 238); flex: 1 1 0%;"></div>
            </div>
            <div class="d-flex">
              <div class="text-left mb-4" style="width: 50%;">
                <div class="conversation-list d-inline-block px-3 py-2" style="border-radius: 12px; background-color: rgba(85, 110, 230, 0.1);">
                  <div class="ctext-wrap">
                    <div class="conversation-name text-primary d-flex align-items-center mb-1">
                      <div class="mr-2" style="font-weight: 600; cursor: pointer;">Alex</div>
                      <div class="rounded-circle bg-gray" style="width: 7px; height: 7px; opacity: 1;"></div>
                    </div>
                    <p class="text-left">wqewqewqe</p>
                    <p class="chat-time mb-0">
                      <svg width="12" height="12" class="prefix__MuiSvgIcon-root prefix__jss80 prefix__MuiSvgIcon-fontSizeLarge" viewbox="0 0 24 24" aria-hidden="true">
                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                      </svg>
                      7:08 PM
                    </p>
                  </div>
                </div>
              </div>
              <div style="flex: 1 1 0%;"></div>
            </div>
            <div class="d-flex">
              <div class="text-left mb-4" style="width: 50%;">
                <div class="conversation-list d-inline-block px-3 py-2" style="border-radius: 12px; background-color: rgba(85, 110, 230, 0.1);">
                  <div class="ctext-wrap">
                    <div class="conversation-name text-primary d-flex align-items-center mb-1">
                      <div class="mr-2" style="font-weight: 600; cursor: pointer;">Joe</div>
                      <div class="rounded-circle bg-gray" style="width: 7px; height: 7px; opacity: 1;"></div>
                    </div>
                    <p class="text-left">rqerqrqweqewq</p>
                    <p class="chat-time mb-0">
                      <svg width="12" height="12" class="prefix__MuiSvgIcon-root prefix__jss80 prefix__MuiSvgIcon-fontSizeLarge" viewbox="0 0 24 24" aria-hidden="true">
                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                      </svg>
                      7:08 PM
                    </p>
                  </div>
                </div>
              </div>
              <div style="flex: 1 1 0%;"></div>
            </div>
            <div class="d-flex">
              <div class="text-left mb-4" style="width: 50%;">
                <div class="conversation-list d-inline-block px-3 py-2" style="border-radius: 12px; background-color: rgba(85, 110, 230, 0.1);">
                  <div class="ctext-wrap">
                    <div class="conversation-name text-primary d-flex align-items-center mb-1">
                      <div class="mr-2" style="font-weight: 600; cursor: pointer;">Mary</div>
                      <div class="rounded-circle bg-gray" style="width: 7px; height: 7px; opacity: 1;"></div>
                    </div>
                    <p class="text-left">qeweqewq</p>
                    <p class="chat-time mb-0">
                      <svg width="12" height="12" class="prefix__MuiSvgIcon-root prefix__jss80 prefix__MuiSvgIcon-fontSizeLarge" viewbox="0 0 24 24" aria-hidden="true">
                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                      </svg>
                      4:35 PM
                    </p>
                  </div>
                </div>
              </div>
              <div style="flex: 1 1 0%;"></div>
            </div>
            <div class="d-flex">
              <div class="text-left mb-4" style="width: 50%;">
                <div class="conversation-list d-inline-block px-3 py-2" style="border-radius: 12px; background-color: rgba(85, 110, 230, 0.1);">
                  <div class="ctext-wrap">
                    <div class="conversation-name text-primary d-flex align-items-center mb-1">
                      <div class="mr-2" style="font-weight: 600; cursor: pointer;">Alex</div>
                      <div class="rounded-circle bg-gray" style="width: 7px; height: 7px; opacity: 1;"></div>
                    </div>
                    <p class="text-left">3232</p>
                    <p class="chat-time mb-0">
                      <svg width="12" height="12" class="prefix__MuiSvgIcon-root prefix__jss80 prefix__MuiSvgIcon-fontSizeLarge" viewbox="0 0 24 24" aria-hidden="true">
                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                      </svg>
                      4:35 PM
                    </p>
                  </div>
                </div>
              </div>
              <div style="flex: 1 1 0%;"></div>
            </div>
            <div class="d-flex">
              <div class="text-left mb-4" style="width: 50%;">
                <div class="conversation-list d-inline-block px-3 py-2" style="border-radius: 12px; background-color: rgba(85, 110, 230, 0.1);">
                  <div class="ctext-wrap">
                    <div class="conversation-name text-primary d-flex align-items-center mb-1">
                      <div class="mr-2" style="font-weight: 600; cursor: pointer;">Alex</div>
                      <div class="rounded-circle bg-gray" style="width: 7px; height: 7px; opacity: 1;"></div>
                    </div>
                    <p class="text-left">321413431</p>
                    <p class="chat-time mb-0">
                      <svg width="12" height="12" class="prefix__MuiSvgIcon-root prefix__jss80 prefix__MuiSvgIcon-fontSizeLarge" viewbox="0 0 24 24" aria-hidden="true">
                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                      </svg>
                      4:35 PM
                    </p>
                  </div>
                </div>
              </div>
              <div style="flex: 1 1 0%;"></div>
            </div>
            <div class="d-flex">
              <div class="text-left mb-4" style="width: 50%;">
                <div class="conversation-list d-inline-block px-3 py-2" style="border-radius: 12px; background-color: rgba(85, 110, 230, 0.1);">
                  <div class="ctext-wrap">
                    <div class="conversation-name text-primary d-flex align-items-center mb-1">
                      <div class="mr-2" style="font-weight: 600; cursor: pointer;">Mary</div>
                      <div class="rounded-circle bg-gray" style="width: 7px; height: 7px; opacity: 1;"></div>
                    </div>
                    <p class="text-left">2132131</p>
                    <p class="chat-time mb-0">
                      <svg width="12" height="12" class="prefix__MuiSvgIcon-root prefix__jss80 prefix__MuiSvgIcon-fontSizeLarge" viewbox="0 0 24 24" aria-hidden="true">
                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                      </svg>
                      4:35 PM
                    </p>
                  </div>
                </div>
              </div>
              <div style="flex: 1 1 0%;"></div>
            </div>
            <div class="d-flex">
              <div class="text-left mb-4" style="width: 50%;">
                <div class="conversation-list d-inline-block px-3 py-2" style="border-radius: 12px; background-color: rgba(85, 110, 230, 0.1);">
                  <div class="ctext-wrap">
                    <div class="conversation-name text-primary d-flex align-items-center mb-1">
                      <div class="mr-2" style="font-weight: 600; cursor: pointer;">Joe</div>
                      <div class="rounded-circle bg-gray" style="width: 7px; height: 7px; opacity: 1;"></div>
                    </div>
                    <p class="text-left">test</p>
                    <p class="chat-time mb-0">
                      <svg width="12" height="12" class="prefix__MuiSvgIcon-root prefix__jss80 prefix__MuiSvgIcon-fontSizeLarge" viewbox="0 0 24 24" aria-hidden="true">
                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                      </svg>
                      10:48 AM
                    </p>
                  </div>
                </div>
              </div>
              <div style="flex: 1 1 0%;"></div>
            </div>
            <div class="d-flex">
              <div class="text-left mb-4" style="width: 50%;">
                <div class="conversation-list d-inline-block px-3 py-2" style="border-radius: 12px; background-color: rgba(85, 110, 230, 0.1);">
                  <div class="ctext-wrap">
                    <div class="conversation-name text-primary d-flex align-items-center mb-1">
                      <div class="mr-2" style="font-weight: 600; cursor: pointer;">Joe</div>
                      <div class="rounded-circle bg-gray" style="width: 7px; height: 7px; opacity: 1;"></div>
                    </div>
                    <p class="text-left">Heh</p>
                    <p class="chat-time mb-0">
                      <svg width="12" height="12" class="prefix__MuiSvgIcon-root prefix__jss80 prefix__MuiSvgIcon-fontSizeLarge" viewbox="0 0 24 24" aria-hidden="true">
                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                      </svg>
                      10:48 AM
                    </p>
                  </div>
                </div>
              </div>
              <div style="flex: 1 1 0%;"></div>
            </div>
            <div class="d-flex">
              <div class="text-left mb-4" style="width: 50%;">
                <div class="conversation-list d-inline-block px-3 py-2" style="border-radius: 12px; background-color: rgba(85, 110, 230, 0.1);">
                  <div class="ctext-wrap">
                    <div class="conversation-name text-primary d-flex align-items-center mb-1">
                      <div class="mr-2" style="font-weight: 600; cursor: pointer;">Mary</div>
                      <div class="rounded-circle bg-gray" style="width: 7px; height: 7px; opacity: 1;"></div>
                    </div>
                    <p class="text-left">h</p>
                    <p class="chat-time mb-0">
                      <svg width="12" height="12" class="prefix__MuiSvgIcon-root prefix__jss80 prefix__MuiSvgIcon-fontSizeLarge" viewbox="0 0 24 24" aria-hidden="true">
                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                      </svg>
                      11:10 AM
                    </p>
                  </div>
                </div>
              </div>
              <div style="flex: 1 1 0%;"></div>
            </div>
            <div class="d-flex">
              <div class="text-left mb-4" style="width: 50%;">
                <div class="conversation-list d-inline-block px-3 py-2" style="border-radius: 12px; background-color: rgba(85, 110, 230, 0.1);">
                  <div class="ctext-wrap">
                    <div class="conversation-name text-primary d-flex align-items-center mb-1">
                      <div class="mr-2" style="font-weight: 600; cursor: pointer;">Mary</div>
                      <div class="rounded-circle bg-gray" style="width: 7px; height: 7px; opacity: 1;"></div>
                    </div>
                    <p class="text-left">ewqewqewq</p>
                    <p class="chat-time mb-0">
                      <svg width="12" height="12" class="prefix__MuiSvgIcon-root prefix__jss80 prefix__MuiSvgIcon-fontSizeLarge" viewbox="0 0 24 24" aria-hidden="true">
                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                      </svg>
                      11:16 AM
                    </p>
                  </div>
                </div>
              </div>
              <div style="flex: 1 1 0%;"></div>
            </div>
            <div class="d-flex">
              <div class="text-left mb-4" style="width: 50%;">
                <div class="conversation-list d-inline-block px-3 py-2" style="border-radius: 12px; background-color: rgba(85, 110, 230, 0.1);">
                  <div class="ctext-wrap">
                    <div class="conversation-name text-primary d-flex align-items-center mb-1">
                      <div class="mr-2" style="font-weight: 600; cursor: pointer;">Mary</div>
                      <div class="rounded-circle bg-gray" style="width: 7px; height: 7px; opacity: 1;"></div>
                    </div>
                    <p class="text-left">.</p>
                    <p class="chat-time mb-0">
                      <svg width="12" height="12" class="prefix__MuiSvgIcon-root prefix__jss80 prefix__MuiSvgIcon-fontSizeLarge" viewbox="0 0 24 24" aria-hidden="true">
                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                      </svg>
                      2:16 PM
                    </p>
                  </div>
                </div>
              </div>
              <div style="flex: 1 1 0%;"></div>
            </div>
            <div class="d-flex">
              <div class="text-left mb-4" style="width: 50%;">
                <div class="conversation-list d-inline-block px-3 py-2" style="border-radius: 12px; background-color: rgba(85, 110, 230, 0.1);">
                  <div class="ctext-wrap">
                    <div class="conversation-name text-primary d-flex align-items-center mb-1">
                      <div class="mr-2" style="font-weight: 600; cursor: pointer;">Mary</div>
                      <div class="rounded-circle bg-gray" style="width: 7px; height: 7px; opacity: 1;"></div>
                    </div>
                    <p class="text-left">.</p>
                    <p class="chat-time mb-0">
                      <svg width="12" height="12" class="prefix__MuiSvgIcon-root prefix__jss80 prefix__MuiSvgIcon-fontSizeLarge" viewbox="0 0 24 24" aria-hidden="true">
                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                      </svg>
                      2:17 PM
                    </p>
                  </div>
                </div>
              </div>
              <div style="flex: 1 1 0%;"></div>
            </div>
            <div class="d-flex">
              <div class="text-left mb-4" style="width: 50%;">
                <div class="conversation-list d-inline-block px-3 py-2" style="border-radius: 12px; background-color: rgba(85, 110, 230, 0.1);">
                  <div class="ctext-wrap">
                    <div class="conversation-name text-primary d-flex align-items-center mb-1">
                      <div class="mr-2" style="font-weight: 600; cursor: pointer;">Mary</div>
                      <div class="rounded-circle bg-gray" style="width: 7px; height: 7px; opacity: 1;"></div>
                    </div>
                    <p class="text-left">5</p>
                    <p class="chat-time mb-0">
                      <svg width="12" height="12" class="prefix__MuiSvgIcon-root prefix__jss80 prefix__MuiSvgIcon-fontSizeLarge" viewbox="0 0 24 24" aria-hidden="true">
                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                      </svg>
                      4:07 PM
                    </p>
                  </div>
                </div>
              </div>
              <div style="flex: 1 1 0%;"></div>
            </div>
            <div class="d-flex">
              <div style="flex: 1 1 0%;"></div>
              <div class="text-right mb-4" style="width: 50%;">
                <div class="conversation-list d-inline-block bg-light px-3 py-2" style="border-radius: 12px;">
                  <div class="ctext-wrap">
                    <div class="conversation-name text-left text-primary mb-1" style="font-weight: 600;">Pablo</div>
                    <p class="text-left">test</p>
                    <p class="chat-time mb-0">
                      <svg width="12" height="12" class="prefix__MuiSvgIcon-root prefix__jss80 prefix__MuiSvgIcon-fontSizeLarge" viewbox="0 0 24 24" aria-hidden="true">
                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                      </svg>
                      3:54 PM
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <div style="flex: 1 1 0%;"></div>
              <div class="text-right mb-4" style="width: 50%;">
                <div class="conversation-list d-inline-block bg-light px-3 py-2" style="border-radius: 12px;">
                  <div class="ctext-wrap">
                    <div class="conversation-name text-left text-primary mb-1" style="font-weight: 600;">Pablo</div>
                    <p class="text-left">test</p>
                    <p class="chat-time mb-0">
                      <svg width="12" height="12" class="prefix__MuiSvgIcon-root prefix__jss80 prefix__MuiSvgIcon-fontSizeLarge" viewbox="0 0 24 24" aria-hidden="true">
                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                      </svg>
                      3:54 PM
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <div style="flex: 1 1 0%;"></div>
              <div class="text-right mb-4" style="width: 50%;">
                <div class="conversation-list d-inline-block bg-light px-3 py-2" style="border-radius: 12px;">
                  <div class="ctext-wrap">
                    <div class="conversation-name text-left text-primary mb-1" style="font-weight: 600;">Pablo</div>
                    <p class="text-left">hgkjhjk</p>
                    <p class="chat-time mb-0">
                      <svg width="12" height="12" class="prefix__MuiSvgIcon-root prefix__jss80 prefix__MuiSvgIcon-fontSizeLarge" viewbox="0 0 24 24" aria-hidden="true">
                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                      </svg>
                      2:27 PM
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-3 chat-input-section">
          <form class="row">
            <div class="col">
              <div class="position-relative"><input type="text" placeholder="Enter Message..." class="form-control chat-input" value=""></div>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary btn-rounded chat-send w-md">
                <span class="d-none d-sm-inline-block mr-2">Send</span>
                <svg width="13" height="13" viewbox="0 0 24 24" tabindex="-1">
                  <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" fill="white"></path>
                </svg>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
